
:root{
    --fontSans: "Work Sans", sans-serif;
    --colorWhite: #ffffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

.theme_button a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;
    background-color: #2094E6;
    color: var(--colorWhite);
    font-size: 16px;
    font-family: var(--fontSans);
    text-decoration: none;
}

header.main_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    z-index: 4;
}

header.main_header .header_right_content{
    display: flex;
    align-items: center;
}
header.main_header .header_right_content nav{
    margin-right: 82px;
}
header.main_header .header_right_content nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}
header.main_header .header_right_content nav ul li a{
    font-size: 24px;
    color: var(--colorWhite);
    font-weight: 500;
    font-family: var(--fontSans);
    text-decoration: none;
    transition: 0.4s;
}
header.main_header .header_right_content nav ul li a:hover{
    font-size: 30px;
}

/* HERO section */

section.hero{
    display: flex;
    align-items: center;
    min-height: 660px;
}
section.hero::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.3);
    z-index: 2;
}
section.hero figure{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
section.hero figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.hero .hero_content{
    max-width: 592px;
    margin: 150px 0 100px 120px;
    color: var(--colorWhite);
    z-index: 3;
}

section.hero .hero_content h1.page_title{
    font-size: 60px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 66px;
}
section.hero .hero_content p.page_subtitle{
    font-size: 18px;
    font-family: var(--fontSans);
    margin-bottom: 24px;
    line-height: 27px;
}